.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 83%;
  }
  
  .flex-container > div {
    padding: 70px;
    background-color: #000000;
    width: 75px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5cm;
    color: aliceblue;
  }
  .flex-container>div:hover {
    background-color: #e7ea63;}

body {
     background-color:#000000;
  }

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2cm;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: #ffffff;
}
a:hover {
    color: rgb(0, 0, 0);
}

.mask1 {
    -webkit-mask-image: url(blackoutpoetryheader1.png);
    mask-image: url(blackoutpoetryheader1.png)}
    
    