background-color {
  color: bisque;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body { 
  display: flex;
  justify-content: center;
  margin: 75px 0;
}

.box_item{
  width: 400px;
  height: 400px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 800;
  background-position: center;
  background-repeat: no-repeat;
}

.box_item:hover{
font-size: 0;
}

.box_item:hover::after{
  content: attr(data-hover);
  font-size: 24px;
  line-height: 28px;
  font-weight: 200;
}