* {
  box-sizing: border-box;
}

body {
    background-color:#000000;
  }

  h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2cm;
  }

  h3 {
    color: rgb(0, 0, 0);
    font-family: "Caveat",sans-serif;
    font-size: larger;
  }
  
p {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    padding-right: 2cm;
    padding-left: 2cm;
    text-justify: distribute;
    text-align: justify;
  }
  
  p>.blackout:hover {
    color: #ffffff;}
  
  .blackout{ 
   color:black}
  
  a {
    text-decoration: none;
  }
  a:link, a:visited {
    color: #ffffff;
  }

.lunawtextbubble {
position: relative;
}

.first-txt {
    position: absolute;
    top: 2.5in;
    left: 6.9in;
    right: 3.9in;
}

#first-txt{
    padding: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    background-color: white;
}

#block1{
    padding: 10px;
    width: 1cm;
}

#block2{
    padding: 10px;
    width: 1cm;
}

#block3{
  padding: 10px;
  width: 1cm;
}

#block4{
  padding: 10px;
  width: 1cm;
}

#block5{
  padding: 10px;
  width: 1cm;
}

#block6{
  padding: 10px;
  width: 1cm;
}

#block7{
  padding: 10px;
  width: 1cm;
}