body {
  background-color:#000000;
}

h1 {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2cm;
}

h2 {
  color: blanchedalmond;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

p {
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
  padding-right: 2cm;
  padding-left: 2cm;
  text-justify: distribute;
}

div {
  position:relative;
  animation: mymove 5s
}
@keyframes mymove {
  from {background-color: rgb(255, 255, 255);}
  to {background-color: rgb(0, 0, 0);}}

  blackout:hover{
    font-style: normal;
    color: black;
}

p {
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
  padding-right: 2cm;
  padding-left: 2cm;
  text-justify: distribute;
  text-align: justify;
}

p>.blackout:hover {
  color: #ffffff;}

.blackout{ 
 color:black}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #ffffff;
}